body{
    margin:0;
    font-family:sans-serif;
    background:#f5f7fb;
    color:#111;
}

.admin-container{
    max-width:900px;
    margin:auto;
    padding:20px;
}

h2{
    text-align:center;
}

input, textarea{
    width:100%;
    padding:10px;
    margin:5px 0;
    border:1px solid #ddd;
    border-radius:8px;
}

button{
    padding:10px 14px;
    border:none;
    border-radius:8px;
    background:#1f8f4d;
    color:white;
    cursor:pointer;
    margin-top:10px;
}

.logout-btn{
    background:#ff3b30;
}

#productList div,
#orderList div{
    background:white;
    padding:10px;
    margin:8px 0;
    border-radius:10px;
    box-shadow:0 5px 10px rgba(0,0,0,0.05);
}

img{
    width:60px;
    border-radius:6px;
}
